<mat-card>
  <mat-card-header>
    <div mat-card-avatar [style.backgroundImage]="'url(' + avatarSrc + ')'">
      <a [routerLink]="'/user/' + userId"></a>
    </div>
    <mat-card-title>
      <a [routerLink]="'/user/' + userId">
        {{userName}}
        <span style="color: rgba(0, 0, 0, 0.54)" *ngIf="banned">
          <small>Заблокировано</small>
        </span>
      </a>
    </mat-card-title>
    <mat-card-subtitle>
      {{(userType == 20) ? 'Музей' : 'Коллекционер'}}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="image" [src]="image">
  <div class="video" [innerHtml]="video" *ngIf="videoSrc"></div>
  <mat-card-content>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button *ngIf="!liked" aria-label="Like" (click)="onLike()">
      <mat-icon>favorite_border</mat-icon>
      <span>{{like.likeCount}}</span>
    </button>
    <button mat-icon-button *ngIf="liked" aria-label="Like" (click)="onUnlike()">
      <mat-icon>favorite</mat-icon>
      <span>{{like.likeCount}}</span>
    </button>
    <button mat-icon-button aria-label="Comments">
      <mat-icon>chat_bubble_outline</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>