.mat-card-avatar {
	position: relative;
    background-size: cover;
}

.mat-card-avatar a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.mat-card-title a {
    color: inherit;
    text-decoration: none;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
    margin-bottom: 16px;	
}

::ng-deep
.video iframe {
	position: absolute;
	top: 0;
	left: -16px;
	height: 100%;
	width: calc(100% + 32px);
}

.delete {
	position: absolute;
	top: 0;
	right: 0;
}