.back {
    float: left;
}

.next {
    float: right;
}

.choose-block:not(:first-child) {
    margin-top: 10px;
}

.choose-block.active {
    border: 5px solid blue;
}

.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
    margin-bottom: 16px;	
}

::ng-deep
.video iframe {
	position: absolute;
	top: 0;
	left: -16px;
	height: 100%;
	width: calc(100% + 32px);
}