<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper>
    <mat-step label="Введите описание">
      <mat-form-field class="full-width">
        <mat-label>Название</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Описание</mat-label>
        <textarea matInput formControlName="description">
      </textarea>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Вид отображения</mat-label>
        <mat-select formControlName="displayType">
          <mat-option value="1">Галерея</mat-option>
          <mat-option value="2">Карусель</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button class="next" mat-button matStepperNext type="button">Вперед</button>
      </div>
    </mat-step>
    <mat-step label="Выберите экспонаты">
      <div #ref
        class="choose-block"
        *ngFor="let exhibit of exhibits$ | async"
        (click)="onClick(ref, exhibit.id)">
        <mat-card>
          <img mat-card-image *ngIf="exhibit.imageSrc" [src]="api + exhibit.imageSrc">
          <div class="video" [innerHtml]="embedService.embed(exhibit.videoSrc)" *ngIf="exhibit.videoSrc"></div>
          <mat-card-content>
            <h5>{{exhibit.title}}</h5>
            <p>{{exhibit.description}}</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div>
        <button class="back" mat-button matStepperPrevious type="button">Назад</button>
        <button class="next" mat-button [disabled]="form.invalid" type="submit">Отправить</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>