<form [formGroup]="form" novalidate (ngSubmit)="onCreate()">
  <mat-card>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Название</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="hasError('title', 'required')">
          Введите название экспоната
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Описание</mat-label>
        <textarea matInput formControlName="description" rows="5">
        </textarea>
        <mat-error *ngIf="hasError('description', 'required')">
          Введите описание экспоната
        </mat-error>
      </mat-form-field>
      <div>
        <input #image (change)="onChangeImage($event)" type="file" accept="image/*" hidden>
        <button mat-icon-button aria-label="Add image" (click)="image.click()" type="button">
          <mat-icon>image</mat-icon>
        </button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="full-width" color="primary" type="submit"
        [disabled]="form.invalid">Создать</button>
      <button mat-raised-button class="full-width" (click)="onCancel()">Отменить</button>
    </mat-card-actions>
  </mat-card>
</form>