<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Регистрация</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Название</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="hasError('name', 'required')">
          Введите название профиля
        </mat-error>
        <mat-error *ngIf="hasError('name', 'minlength')">
          Название профиля должно быть длиннее 6 символов
        </mat-error>
        <mat-error *ngIf="hasError('name', 'maxlength')">
          Название профиля должно быть короче 64 символов
        </mat-error>
        <mat-error *ngIf="hasError('name', 'pattern')">
          Название профиля может содержать буквы латинского и
          кириллистичесгого алфавита, цифры и символ пробела
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Тип профиля</mat-label>
        <mat-select formControlName="type">
          <mat-option value="10">Коллекционер</mat-option>
          <mat-option value="20">Музей</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('name', 'required')">
          Выберите тип профиля
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="hasError('email', 'required')">
          Введите email
        </mat-error>
        <mat-error *ngIf="hasError('email', 'email')">
          Невалидный email
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')">
          Введите пароль
        </mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">
          Пароль должен быть длиннее 8 символов
        </mat-error>
        <mat-error *ngIf="hasError('password', 'maxlength')">
          Пароль должен быть короче 32 символов
        </mat-error>
        <mat-error *ngIf="hasError('password', 'pattern')">
          Пароль может содержать буквы
          латинского алфавита, цифры и спецсимволы
        </mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="full-width" color="primary" type="submit" [disabled]="form.invalid">Зарегистрироваться</button>
      <p class="text-center">
        <small>Уже есть аккаунт?</small>
        <a class="sign-in" routerLink="/sign-in">
          <small>Авторизация</small>
        </a>
      </p>
    </mat-card-actions>
  </mat-card>
</form>