.sign-up {
  margin-left: 5px;
  text-decoration: none;
  color: #3f51b5;
}

.banned .icon {
  height: 50px;
  background-image: url(../../../assets/img/not_available.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
}

.banned .text {
  margin-top: 10px;
  text-align: center;
}