<ng-template #dialog>
  <div mat-dialog-content class="banned">
    <div class="icon"></div>
    <div class="text">Данный аккаунт заблокирован из-за нарушения наших правил</div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>ОК</button>
  </div>
</ng-template>

<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Авторизация</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
        <mat-error *ngIf="hasError('email', 'required')">Введите email</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="hasError('password', 'required')">Введите пароль</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="full-width" color="primary" type="submit" [disabled]="form.invalid">Войти</button>
      <p class="text-center">
        <small>Нет аккаунта?</small>
        <a class="sign-up" routerLink="/sign-up">
          <small>Регистрация</small>
        </a>
      </p>
    </mat-card-actions>
  </mat-card>
</form>