<mat-tab-group [dynamicHeight]="true">
  <mat-tab label="{{'Подписки ' + subscriptions.followings.length}}">
    <app-profile-preview
      *ngFor="let following of subscriptions.followings"
      [userId]="following.id"
      [userName]="following.name"
      [userType]="following.type">
    </app-profile-preview>
  </mat-tab>
  <mat-tab label="{{'Подписчики ' + subscriptions.followers.length}}">
    <app-profile-preview
      *ngFor="let follower of subscriptions.followers"
      [userId]="follower.id"
      [userName]="follower.name"
      [userType]="follower.type">
    </app-profile-preview>
  </mat-tab>
</mat-tab-group>