<mat-card>
    <mat-card-header>
      <div mat-card-avatar [style.backgroundImage]="'url(' + avatarSrc + ')'">
        <a [routerLink]="'/user/' + userId"></a>
      </div>
      <mat-card-title>
        <a [routerLink]="'/user/' + userId">
          {{userName}}
          <span style="color: rgba(0, 0, 0, 0.54)" *ngIf="banned">
            <small>Заблокировано</small>
          </span>
        </a>
      </mat-card-title>
      <mat-card-subtitle>
        {{(userType == 20) ? 'Музей' : 'Коллекционер'}}
      </mat-card-subtitle>
    </mat-card-header>
  
    <ng-template [ngIf]="displayType === 1">
      <div class="grid">
        <img *ngFor="let item of items; index as i"
             [lightbox]="i"
             [gallery]="'gallery-' + id"
             [src]="item.data.thumb">
      </div>
    </ng-template>
    
    <ng-template [ngIf]="displayType === 2">
      <gallery [id] = "'gallery-' + id"
               [items]="items"
               [itemTemplate]="itemTemplate">
      </gallery>
    </ng-template>
    
    <ng-template #itemTemplate
                 let-index="index"
                 let-type="type"
                 let-data="data"
                 let-currIndex="currIndex">
      <div *ngIf="type === 'image' && index === currIndex" class="item-text">
        <p>{{data?.title}}</p>
        <p>{{data?.description}}</p>      
      </div>
    </ng-template>
  
    <mat-card-content>
      <h5>{{title}}</h5>
      <p>{{description}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="authService.loggedId">
      <button mat-icon-button *ngIf="!liked" aria-label="Like" (click)="onLike()">
        <mat-icon>favorite_border</mat-icon>
        <span>{{like.likeCount}}</span>
      </button>
      <button mat-icon-button *ngIf="liked" aria-label="Like" (click)="onUnlike()">
        <mat-icon>favorite</mat-icon>
        <span>{{like.likeCount}}</span>
      </button>
      <button mat-icon-button aria-label="Comments">
        <mat-icon>chat_bubble_outline</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
