.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 0;
}

.grid img {
    display: block;
    float: left;
    flex: 0 0 auto;
    width: 170px;
    height: 160px;
    margin-right: 4px
}

.grid img:last-child {
    margin-right: 0;
}

.mat-card {
    margin-top: 10px;
}

.mat-card-avatar {
	position: relative;
    background-size: cover;
}

.mat-card-avatar a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.mat-card-title a {
    color: inherit;
    text-decoration: none;
}

.mat-card-content {
	overflow-wrap: break-word;
}