<ng-container *ngFor="let post of posts">
  <app-exhibit *ngIf="post.content.type === 1 && !post.banned"
    [id]="post.id"
    [userId]="post.author.userId"
    [userName] = "post.author.name"
    [userType] = "post.author.type"
    [title] = "post.content.title"
    [description] = "post.content.description"
    [imageSrc] = "post.content.imageSrc"
    [videoSrc] = "post.content.videoSrc"
    [like]="post.like"
    [banned]="post.banned"
  >
  </app-exhibit>
  <app-exposition *ngIf="post.content.type === 2 && !post.banned"
    [id]="post.id"
    [userId]="post.author.userId"
    [userName] = "post.author.name"
    [userType] = "post.author.type"
    [title] = "post.content.title"
    [description] = "post.content.description"
    [displayType] = "post.content.display_type"
    [exhibits] = "post.content.exhibits"
    [like]="post.like"
    [banned]="post.banned"
  >
  </app-exposition>
</ng-container>