<mat-card>
  <mat-card-header>
    <div mat-card-avatar [style.backgroundImage]="'url(' + avatarSrc + ')'">
      <a [routerLink]="'/user/' + userId"></a>
    </div>
    <mat-card-title>
      <a [routerLink]="'/user/' + userId">{{userName}}</a>
    </mat-card-title>
    <mat-card-subtitle>
      {{(userType == 20) ? 'Музей' : 'Коллекционер'}}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>