.mat-card-avatar {
    position: relative;
    background-size: cover;
    width: 65px;
    height: 65px;
}

.mat-card-avatar a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.mat-card-title a {
    color: inherit;
    text-decoration: none;
}