<mat-card class="banned" *ngIf="profile.info.banned">
  <div class="icon"></div>
  <div class="text">Данный аккаунт заблокирован из-за нарушения наших правил</div>
</mat-card>

<ng-container *ngIf="!profile.banned">
  <mat-card *ngIf="!profile.banned">
    <mat-card-header>
      <div mat-card-avatar [style.backgroundImage]="'url(' + avatarSrc + ')'"></div>
      <mat-card-title>{{profile.info.name}}</mat-card-title>
      <mat-card-subtitle>
        <div>{{(profile.info.type == 20) ? 'Музей' : 'Коллекционер'}}</div>
        <div *ngIf="authService.logged && authService.loggedId != profile.info.id">
          <button class="profile-button" *ngIf="!isFollowing" (click)="onSubscribe()" mat-raised-button color="primary">Подписаться</button>
          <button class="profile-button" *ngIf="isFollowing" (click)="onUnsubscribe()" mat-raised-button>Отписаться</button>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="post" *ngFor="let post of profile.posts">
    <button mat-icon-button class="delete" *ngIf="post.author.userId == authService.loggedId"
      aria-label="Delete" (click)="onDeletePost(post.id)">
      <mat-icon>close</mat-icon>
    </button>
    <ng-container *ngIf="!post.banned || post.author.userId == authService.loggedId">
      <app-exhibit *ngIf="post.content.type === 1"
        [id]="post.id"
        [userId]="post.author.userId"
        [userName] = "post.author.name"
        [userType] = "post.author.type"
        [title] = "post.content.title"
        [description] = "post.content.description"
        [imageSrc] = "post.content.imageSrc"
        [videoSrc] = "post.content.videoSrc"
        [like]="post.like"
        [banned]="post.banned"c
      >
      </app-exhibit>
      <app-exposition *ngIf="post.content.type === 2"
        [id]="post.id"
        [userId]="post.author.userId"
        [userName] = "post.author.name"
        [userType] = "post.author.type"
        [title] = "post.content.title"
        [description] = "post.content.description"
        [displayType] = "post.content.display_type"
        [exhibits] = "post.content.exhibits"
        [like]="post.like"
        [banned]="post.banned"
      >
      </app-exposition>
    </ng-container>
  </div>
</ng-container>