.banned {
    height: 100%;
    padding-top: 45%;
}

.banned .icon {
    height: 50px;
    background-image: url(../../../assets/img/not_available.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50px 50px;
}

.banned .text {
    margin-top: 10px;
    text-align: center;
}

.mat-card-avatar {
    background-size: cover;
    width: 70px;
    height: 70px
}

.mat-card-content {
    padding: 10px 0;
}

.profile-button {
    width: 100%;
    padding: 2px;
    margin-top: 10px;
    line-height: 24px;
}

.post {
    position: relative;
}

.post .delete {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}