<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset | async) ? 'over' : 'side'"
      [opened]="!(isHandset | async)"
      [autoFocus]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <ng-template [ngIf]="!authService.logged">
        <a mat-list-item routerLink="/sign-in">Авторизация</a>
      </ng-template>
      <ng-template [ngIf]="authService.logged">
        <button mat-list-item routerLink="/build/exhibit">+ Экспонат</button>
        <button mat-list-item routerLink="/build/exposition">+ Экспозиция</button>
        <a mat-list-item [routerLink]="'/user/' + authService.loggedId">Профиль</a>
        <a mat-list-item routerLink="/feed">Новости</a>
        <a mat-list-item routerLink="/messages">Сообщения</a>
        <a mat-list-item routerLink="/subscriptions">Подписки</a>
        <button mat-list-item (click)="signOut()">Выйти </button>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Collectioner</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
